<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
</head>
<body>

</body>
<script>
    try {
        const loginRes = window.apiFetch({
          method: 'GET',
          url: '/admin/profile',
        })
        switch (loginRes.code) {
          case 0:
          case '0':
            location.href = '/pages/';
            break;
          default:
            break;
        }
      } catch (e) {
        console.error(e)
      }
</script>
</html>
